<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="tittle">Credit card</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-4">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="tittle">Add Card</h5>
                    <hr>
                    <!--Unimos este form con el que creamos en el .ts del componente-->
                    <form [formGroup] = "form" (ngSubmit)="agregarTarjeta()">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <!--Accedemos a las propiedades del icono para cambiar el color en diferentes contextos-->
                                <i class="fa-solid fa-user" 
                                [class.green-icon] = "this.form.get('titular')?.valid"
                                [class.red-icon] = "this.form.get('titular')?.invalid && this.form.get('titular')?.touched"></i>
                            </span>
                            <!--Y conectamos los imputs con los campos que creamos en el .ts con formControlName-->
                            <input formControlName="titular" type="text" class="form-control" placeholder="Titular" >
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-credit-card"
                                [class.green-icon] = "this.form.get('number')?.valid"
                                [class.red-icon] = "this.form.get('number')?.invalid && this.form.get('number')?.touched"></i>
                            </span>
                            <input formControlName="number" maxlength="16" type="text" class="form-control" placeholder="Número de Tarjeta">
                        </div>
                        
                            <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-sharp fa-solid fa-circle-xmark"
                                        [class.green-icon] = "this.form.get('expiracion')?.valid"
                                        [class.red-icon] = "this.form.get('expiracion')?.invalid && this.form.get('expiracion')?.touched"></i>
                                    </span>
                                    <input formControlName="expiracion" maxlength="5" type="text" class="form-control" placeholder="MM/YY">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-key"
                                        [class.green-icon] = "this.form.get('cvv')?.valid"
                                        [class.red-icon] = "this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                    </span>
                                    <input formControlName="cvv" maxlength="3" type="password" class="form-control" placeholder="CVV">
                                </div>
                        
                        <div class="d-grid gap-2">
                            <button [disabled]="this.form.invalid" class="btn btn-success">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="tittle">List Card</h5>
                    <hr>
                    <table class="table">
                        <tbody>
                            <tr class="resaltar">
                                <td>Titular</td>
                                <td>Tarjeta</td>
                                <td>Expira</td>
                                <!-- <td>Cvv</td> -->
                                <td>Editar</td>
                                <td>Eliminar</td>
                            </tr>
                            
                            <!--Iteramos los objetos creados en el array listCard en el .ts-->

                            <tr *ngFor="let card of listCard; let i = index">
                                <td>{{card.titular }}</td>
                                <td>{{card.number}}</td>
                                <td>{{card.expiracion}}</td>
                                <!-- <td>{{card.cvv}}</td> -->
                                <td>
                                    <i class="far fa-solid fa-pen-to-square text-info"></i>
                                </td>
                                <td>
                                    <!--i, accede a las posiciones del array con el "index"-->
                                    <i (click)="deleteCard(i)" class="far fa-solid fa-eraser text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
